{% extends "base.html" %}

{% block content %}
<div id="description">
  <h5>CRC has multiple car rental locations (or stores at, e.g., Brisbane, Melbourne, Sydney,
  Adelaide, Gold Coast, etc.) around Australia. It offers a wide range of cars, 4WDs and mini
  buses as well as Australia’s largest fleet of truck and commercial vehicles that are distributed in
  these locations for customers.<br><br>
  On this site, you can browse our huge collection of vehicles and see what you want to bring along on your next road trip!
  </h5>
</div>
{% endblock %}
