<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Car Rental Company</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css">
	<link href="https://fonts.googleapis.com/css?family=Anton|Sacramento" rel="stylesheet"> 
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
	
<body>
  <div class="main-content">
	  <!--navbar-->
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		   <a class="navbar-brand" href="{% url 'index' %}">
		  <img src="/static/CRCLogo.png" style="max-width: 40%" alt="CRC Online" href="{% url 'index' %}"></a>
		  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<li><a class="nav-link" href="{% url 'all_cars' %}">Vehicle Fleet</a>
				</li>

				{% if request.user.is_superuser %}
				<li><a class="nav-item" href="{% url 'customers' %}"> All Customers </a>
				</li>
				{% else %}
				{% endif %}
			</li>
		  </ul>
		
		  <ul class="navbar-nav">
			  <li class="nav-item mr-auto">
				  {% if user.is_authenticated %}
				  <p>Welcome,<i> {{ user.get_username }} </i> |<a href="{% url 'logout' %}?next=/webApp"> Log Out </a> </p>
				  {% else %}
				  <p><a href="{% url 'login' %}"> Login </a>|<a href="{% url 'signup' %}"> Sign Up </a></p>
				  {% endif %}
			  </li>
		  </ul>
				
		<form class="form-inline my-2 my-lg-0">
		  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	  </div>
	  </nav>
	  <!--end navbar-->
	 <!-- 
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'all_cars' %}">All Cars</a></li>
            {% if request.user.is_superuser %}
              <li><a href="{% url 'customers' %}"> All Customers </a></li>
            {% else %}

            {% endif %}
          </ul>
          {% endblock %}
        </div>
		  -->
        <div class="col-sm-10">{% block content %}{% endblock %}</div>
      </div>
	<!--
    </div>
  </div>
-->

	<!--footer-->
	<nav class="nav-bar navbar-dark" style="background-color: #153E89;">
    <span class="navbar-text">Developed by IFB299 Team One (Group No. 114)</span>
	  {% if request.user.is_superuser %}
      <a href="{% url 'admin:index' %}"> Go to administration panel </a>
    {% else %}

    {% endif %}
  </nav>

</body>
</html>
