{% extends "base.html" %}

{% block content %}
  <div id='mapid'></div><br><br><br>
  <script>
    var mymap = L.map("mapid").setView([-23.6980, 133.8807], 3);

    L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY21hYzE5OTkiLCJhIjoiY2poaWcwdWYyMjZoZzM2bm13ZWV2ODByMyJ9.LsODyuBK67nNc2Y-vW58jg", {
      maxZoom: 18,
      attribution: "Map data &copy; OpenStreetMap contributors, " +
        "CC-BY-SA, " +
        "Imagery © Mapbox",
      id: "mapbox.streets"
    }).addTo(mymap);
    {% for store in storelist %}
      var marker = L.marker([{{ store.location.latitude }},{{ store.location.longitude}}]).addTo(mymap);
      marker.bindPopup("<a href='/webApp/Store/{{store.store_id}}/'>{{ store.store_name }}</a>");
    {% endfor %}

  </script>
  <br>


{% endblock %}
