{% extends "base.html" %}

{% block content %}
  <h1>ID: {{ order.order_id }}</h1>
  <h1>Vehicle: {{ order.car_id }}</h1>

  <div style="margin-left:20px;margin-top:20px">
    <h3>Details</h3>

    {% for vehicle in car %}
      {% for current_make in make %}
        {% if order.car_id == vehicle.car_id  %}
          {% if current_make.car_make_key == vehicle.car_make_key.car_make_key  %}
            Vehicle Involved: <a href="/webApp/Car/{{ vehicle.car_id }}/">{{current_make.car_make_name}} {{current_make.car_model}} {{current_make.car_series}} </a>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for current_store in store %}
      {% if order.pickup_store.store_id == current_store.store_id  %}
      <br>
        Pickup Store: {{current_store.store_name}}
      {% endif %}
    {% endfor %}

  </div>
{% endblock %}
