{% extends "base.html" %}

{% block content %}
<div id="portal">
  <h2> Welcome to the Staff Portal. </h2>


  <div id="icons">
    <div id="icon1">
      <span style="font-size: 3em; color: #153E89;">
        <i class="fas fa-users"></i>
      </span><br>
      <p>Customer List</p>
    </div>
    <div class="icon">
      <span style="font-size: 3em; color: #009BFF;">
        <i class="fas fa-car"></i>
      </span><br>
      <p>Current Inventory</p>
    </div>

    <div class="icon2">
      <span style="font-size: 3em; color: #5900FF;">
        <i class="fas fa-store"></i>
      </span><br>
      <p>Previous Orders</p>
    </div>
    <div class="icon2">
      <span style="font-size: 3em; color: #5D7FFF;">
        <i class="fas fa-chart-line"></i>
      </span><br>
      <p>Trends/Analytics</p>
    </div>
  </div>
</div>
{% endblock %}
